*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#clockContainer{
    height:40vw;
    width: 40vw;
    margin: auto ;
    background: url(clock.png) ;
    background-size: 100%;
}

#hour,#minute,#second{
    position: relative;
    background: black;
    border-radius: 8px;
    transform-origin: bottom;
}

#hour{
    position: absolute;
    height: 20%;
    width: 7px;
    color: black;
    left:49.7%;
    top: 18%;
    opacity: 0.8;
}

#minute{
    position: absolute;
    height: 24%;
    width: 7px;
    color: black;
    left:49.7%;
    top: 13%;
    opacity: 0.8;
}

#second{
    position: absolute;
    height: 28%;
    width: 7px;
    color: black;
    left:49.7%;
    top: 9%;
    opacity: 0.8;
}